.contactContainer {
  background-color: #e6e3e0db;
}
.contactContainer h3 {
  padding: 1em;
  text-align: center;
  color: white;
  font-weight: bold;
}

.secondContactContainer {
  padding-top: 70px;
  padding-bottom: 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-image: url("~/public/img/bg3.jpg");
  background-size: cover;
}

.secondContactContainer form input,
.secondContactContainer form textarea {
  display: block;
  width: 100%;
  border: 0;
  background-color: #f4c7c6c7;
  padding: 0.5rem 0.5rem;
  border-radius: 5px;
  font-size: 1rem;
  color: black;
  margin: 0.4em 0;
  margin-left: 0.8em;
}

.customFormSend {
  margin: 6px 0;
  opacity: 0.9;
  font-family: "Proxima Nova", sans-serif;
  background-color: #d1625d;
  color: white;
  border: solid 1px #bf504b;
  border-radius: 4px;
  padding: 0.6rem 1.2rem 0.625rem;
  cursor: pointer;
  /* font-weight: bold; */
  box-shadow: 1px 1px 4px 0px #786464;
  align-self: center;
  margin-left: 0.8em;
}
.contact-form-div {
  background-color: rgba(31, 29, 29, 0.808);
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 2em;
  border-radius: 6px;
  backdrop-filter: blur(3px);
}

.customFormSend:hover {
  background-color: rgb(219, 197, 197);
  color: black;
  transition: all 0.4s ease-in-out;
}

@media (max-width: 865px) {
  .contactHeading img {
    max-width: 250px;
  }
  .secondContactContainer form input,
  .secondContactContainer form textarea {
    width: 250px;
  }
}

@media (max-width: 650px) {
  .contact-form-div {
    width: 80%;
  }
  .secondContactContainer form input,
  .secondContactContainer form textarea {
    width: 80%;
  }
}
@media (max-width: 560px) {
  .contactHeading img {
    display: none;
  }
}

@media (max-width: 350px) {
  .contact-form-div {
    width: 100%;
  }
  .secondContactContainer form input,
  .secondContactContainer form textarea {
    width: 100%;
  }
}
